<!-- topnavbar -->
<div class="topnav shadow p-1">
    <a>WATERBOTTLE INSPECTION SYSTEM</a>
    <span class="menu" (click)="openNav(true)"><i class="bi bi-list"></i></span>
</div>
<!-- topnavbar -->

<!-- left sidebar nav  -->

<div  class="sidebar shadow p-2"  id="sidebar"  [ngStyle]="responsiveMenu">
    <ul>
        <li><a routerLink="/home"><i class="bi bi-speedometer2"></i> HOME</a></li>
        <li><a routerLink="/report"><i class="bi bi-card-text"></i> Reports</a></li>
        <li><a routerLink="/help"><i class="bi bi-card-text"></i> Help</a></li>
        <li><a routerLink="/users"><i class="bi bi-person-gear"></i> User</a></li>
        <li><a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>

    </ul>
</div>
<!-- left sidebar nav  -->


<!-- main content  -->

<div class="main-content" [ngStyle]="responsiveContent">
    <router-outlet></router-outlet>
</div>

<!-- main content  -->

